fastapi==0.115.12
uvicorn==0.34.0
python-jose[cryptography]==3.2.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.5
SQLAlchemy==2.0.40
alembic==1.5.5
psycopg2-binary==2.9.10
email-validator==2.2.0
celery==5.5.1
redis==3.5.3
pydantic[email]==2.11.3
httpx==0.16.1
pytest==6.2.2
pytest-cov==2.11.1
sentry_sdk==2.25.1
sqlmodel==0.0.24
pyjwt
pydantic-settings
psycopg==3.2.6
emails
jinja2